######## YOU NEED TO CUSTOMIZE THESE VALUES ########
# This is your Azure tenant ID
AZURE_TENANT_ID="PLEASE CUSTOMIZE"
# This is the ID of the App Registration which represents this Confluent Platform cluster in Azure EntraID within the Azure tenant
AZURE_CP_APPLICATION_ID="PLEASE CUSTOMIZE"
# This is the ID of the Enterprise Application which was created when you created the App Registration above
AZURE_CP_ENTERPRISE_APPLICATION_ID="PLEASE CUSTOMIZE"
# A secret for the App Registration which represents this Confluent Platform cluster in Azure EntraID within the Azure tenant
# Secret ID: b8c675ef-b617-4626-b69d-47650fcd2e6f
AZURE_CP_APPLICATION_SECRET="PLEASE CUSTOMIZE"
# The EntraID Object ID of an admin user for your Confluent Platform cluster. This user will be granted superuser privileges in the Confluent Control Center and Confluent CLI.
AZURE_ADMIN_USER="PLEASE USE AN EXISTING USER"
# Important note: While you can configure your groups claim to use sAMAccountName instead of group Object IDs, it is important to know
# that only groups synchonized from on-premises Active Directory to Azure EntraID will have a sAMAccountName set.
# The name (Object ID or sAMAccountName, depending on your "groups" token definition in Azure) of a group in Azure which shall provide superuser privileges in the Confluent Control Center and Confluent CLI.
SSO_SUPER_USER_GROUP="PLEASE CHOOSE THE OBJECT ID OF AN EXISTING GROUP"
# The name (Object ID or sAMAccountName, depending on your "groups" token definition in Azure) of a group in Azure which shall provide regular user privileges in the Confluent Control Center and Confluent CLI.
SSO_USER_GROUP="PLEASE CHOOSE THE OBJECT ID OF ANOTHER (!) EXISTING GROUP"

# The following user is used for connecting to CP. A different App Registration should be used here
# Use the ID of that other App Registration as CLIENT_APP_ID
CLIENT_APP_ID="PLEASE CUSTOMIZE"
# Use a generated secret for the App Registration
CLIENT_APP_SECRET="PLEASE CUSTOMIZE"
# The Object ID of the Enterprise Application which was created when you created the App Registration above for the client
CLIENT_ENTERPRISE_APPLICATION_ID="PLEASE CUSTOMIZE"

######## THESE VALUES CAN BE LEFT AS THEY ARE FOR DEMO PURPOSES. DO NOT USE IN PRODUCTION! ########

# Optional: This allows customizing the Docker registry
DOCKER_REGISTRY=
CONFLUENT_DOCKER_TAG="8.0.0"
TRUSTSTORE_PASSWORD="confluent"
IDP_TOKEN_ENDPOINT="https://login.microsoftonline.com/${AZURE_TENANT_ID}/oauth2/v2.0/token"
IDP_JWKS_ENDPOINT="https://login.microsoftonline.com/${AZURE_TENANT_ID}/discovery/v2.0/keys"
IDP_EXPECTED_ISSUER="https://login.microsoftonline.com/${AZURE_TENANT_ID}/v2.0"
IDP_AUTHORIZATION_ENDPOINT="https://login.microsoftonline.com/${AZURE_TENANT_ID}/oauth2/v2.0/authorize"
IDP_DEVICE_AUTHORIZATION_ENDPOINT="https://login.microsoftonline.com/${AZURE_TENANT_ID}/oauth2/v2.0/devicecode"
# Use different cluster ID for production
# You can generate a new cluster ID using "kafka-storage.sh random-uuid"
CLUSTER_ID="vHCgQyIrRHG8Jv27qI2h3Q"
# Customize this if using different scopes in your Azure App Registration
AZURE_OAUTH_SCOPE="${AZURE_CP_APPLICATION_ID}/.default"
SUB_CLAIM_NAME="sub"
GROUP_CLAIM_NAME="groups"
# In Azure EntraID, the audience is just the ID of the App Registration representing the Confluent Platform cluster
# As tokens are also issued by MDS, we need to accept "Confluent" as audience as well
EXPECTED_AUDIENCE=Confluent,api://default,${AZURE_CP_APPLICATION_ID}
#APP_GROUP_NAME=/app_group1
# We use only one secret in the CP App Registration for all internal users, thus the client ID is equal to that Apps Registration ID.
# NOTE: For production, please use separate App Registrations for each of the internal users or every service will have super user privileges.
# Alternatively, you could use separate App Registrations for each of the internal users.
# The following users are required for operating the platform
# This could be customized by specifying (and configuring) a different superuser with a separate client scope
SUPERUSER_CLIENT_ID=${AZURE_CP_APPLICATION_ID}
SUPERUSER_CLIENT_SECRET=${AZURE_CP_APPLICATION_SECRET}
SUPERUSER_CLIENT_SCOPE=${AZURE_OAUTH_SCOPE}
SUPERUSER_PRINCIPAL_ID=${AZURE_CP_ENTERPRISE_APPLICATION_ID}
SR_CLIENT_ID=${AZURE_CP_APPLICATION_ID}
SR_CLIENT_SECRET=${AZURE_CP_APPLICATION_SECRET}
SR_ENTERPRISE_APPLICATION_ID=${AZURE_CP_ENTERPRISE_APPLICATION_ID}
RP_CLIENT_ID=${AZURE_CP_APPLICATION_ID}
RP_CLIENT_SECRET=${AZURE_CP_APPLICATION_SECRET}
RP_ENTERPRISE_APPLICATION_ID=${AZURE_CP_ENTERPRISE_APPLICATION_ID}
CONNECT_CLIENT_ID=${AZURE_CP_APPLICATION_ID}
CONNECT_CLIENT_SECRET=${AZURE_CP_APPLICATION_SECRET}
CONNECT_ENTERPRISE_APPLICATION_ID=${AZURE_CP_ENTERPRISE_APPLICATION_ID}
CONNECT_SECRET_PROTECTION_CLIENT_ID=${AZURE_CP_APPLICATION_ID}
CONNECT_SECRET_PROTECTION_CLIENT_SECRET=${AZURE_CP_APPLICATION_SECRET}
CONNECT_SECRET_PROTECTION_ENTERPRISE_APPLICATION_ID=${AZURE_CP_ENTERPRISE_APPLICATION_ID}
C3_CLIENT_ID=${AZURE_CP_APPLICATION_ID}
C3_CLIENT_SECRET=${AZURE_CP_APPLICATION_SECRET}
C3_ENTERPRISE_APPLICATION_ID=${AZURE_CP_ENTERPRISE_APPLICATION_ID}
KSQL_CLIENT_ID=${AZURE_CP_APPLICATION_ID}
KSQL_CLIENT_SECRET=${AZURE_CP_APPLICATION_SECRET}
KSQL_ENTERPRISE_APPLICATION_ID=${AZURE_CP_ENTERPRISE_APPLICATION_ID}
SSO_CLIENT_ID=${AZURE_CP_APPLICATION_ID}
SSO_CLIENT_SECRET=${AZURE_CP_APPLICATION_SECRET}
SSO_ENTERPRISE_APPLICATION_ID=${AZURE_CP_ENTERPRISE_APPLICATION_ID}
